<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-2  col-lg-10">
      <div class="card text-warning">
        <div class="card-header">
          <strong>Thread Data</strong>
        </div>
        <div class="card-block">
          <table class="table table-responsive table-hover">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
            <thead>
            <tr>
              <th>ID</th>
              <th>User ID</th>
              <th>Network ID</th>
              <th>Active</th>
              <th>Total Posts</th>
            </tr>
            </thead>
            <tbody>
            <!--<tbody infinite-scroll="getMoreData()">-->
            <!--<tr endless-scroll="network in networks">-->
            <!--<tr dir-paginate="network in users | itemsPerPage: usersPerPage | filter: searchText" total-items="totalUsers" current-page="pagination.current">-->
            <!--<td><a ui-sref="networkDetails({id: network.id})">{{network.id}}</a></td>-->
            <!--<td>{{network.title}}</td>-->
            <!--<td>{{network.total_threads}}</td>-->
            <!--<td>{{network.total_members}}</td>-->
            <!--<td>{{network.short_desc}}</td>-->
            <!--<td>{{network.website_url}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td ng-show="loading" class="text-center">-->
            <!--Loading...-->
            <!--</td>-->
            <!--</tr>-->
            </tbody>
          </table>
          <!--<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>-->
        </div>
      </div>
    </div>
  </div>
</div>
