<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded" >-->
  <!--<a class="navbar-brand" href="/#/user/1"><img src="../../../assets/images/small-logo.png" width="44px" alt=""></a>-->
  <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->

    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item">-->
        <!--Admin Dashboard-->
      <!--</li>-->

      <!--&lt;!&ndash; /.navbar-header &ndash;&gt;-->

      <!--<li class="  navbar-toggler-right dropdown bg-faded">-->
        <!--<a class="nav-link dropdown-toggle text-warning"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--<span class="fa fa-user"></span> Admin-->
        <!--</a>-->

        <!--<div class="dropdown-menu bg-faded" aria-labelledby="navbarDropdownMenuLink">-->
          <!--<a class="dropdown-item bg-faded"  href="#">Logout <span class="fa fa-sign-out"></span> </a>-->

        <!--</div>-->

        <!--&lt;!&ndash; /.dropdown-user &ndash;&gt;-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
<!-- /.dropdown -->
<!-- /.navbar-top-links -->

<nav class=" hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link text-warning "  routerLink=""><i class="fa fa-user "></i> &nbsp; User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" routerLink="/network"><i class="fa fa-cloud "></i> &nbsp;Network</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" routerLink="/threads"><i class="fa fa-exchange "></i>&nbsp; Threads</a>
    </li>

    <li class=" collapsed active" data-toggle="collapse" data-target="#products">
      <a class="nav-link text-warning" href="#"><i class="fa fa-users"></i>&nbsp;  Conversation  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="fa fa-angle-left"></span> </a>
    </li>

    <ul class="collapse text-warning" id="products">

      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Accepted By Expert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Payment Pending</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Payment Done</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link text-warning" href="#">Rejected by Expert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Not Choosen by Expert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Payment Failed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Cancelled by User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Cancelled by Expert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Partial Payment</a>
      </li>
    </ul>
  </ul>


</nav>


<!--<div class="navbar-default sidebar list-group" role="navigation">-->
<!--<div class="sidebar-nav navbar-collapse">-->
<!--<ul class="nav" id="side-menu">-->
<!--<li class="sidebar-search">-->
<!--<div class="input-group custom-search-form">-->
<!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Search..." ng-model="searchText">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
<!--&lt;!&ndash;<button class="btn btn-default" type="button">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="glyphicon glyphicon-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /input-group &ndash;&gt;-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/user/1"><i class="glyphicon glyphicon-user"></i> User</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/network/1"><i class="glyphicon glyphicon-cloud"></i> Network</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/thread/1"><i class="glyphicon glyphicon-transfer"></i> Threads</a>-->
<!--</li>-->
<!--<li data-toggle="collapse" data-target="#service" class="collapsed">-->
<!--<a href="#/conversation/expert/accepted/1"><i class="fa fa-user-details"></i> Conversation<span class="fa arrow"></span></a>-->
<!--<ul class="sub-menu collapse nav nav-second-level" id="service" style="list-style: none;">-->
<!--<li>-->
<!--<a href="#/conversation/expert/accepted/1">Accepted By Expert</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/conversation/payment/pending/1">Payment Pending</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/conversation/payment/done/1">Payment Done</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/conversation/expert/rejected/1">Rejected by Expert</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/conversation/expert/deferred/1">Not Choosen by Expert</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/conversation/payment/failed/1">Payment Failed</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/conversation/cancelled/user/1">Cancelled by User</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/conversation/cancelled/expert/1">Cancelled by Expert</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#/conversation/payment/partial/1">Partial Payment</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash; /.sidebar-collapse &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.navbar-static-side &ndash;&gt;-->
<!--</nav>-->
