<div class="container">
  <div class="row">
    <div class="col-lg-offset-2  col-lg-10">
      <div class="card text-warning">
        <div class="card-header">
          <strong>User Data</strong>
        </div>
        <div class="card-block">
          <table class="table table-responsive table-hover">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
            <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mobile No</th>
              <th>Device ID</th>
              <th>Device type</th>
              <th>jid</th>
            </tr>
            </thead>
            <tbody>
            <!--&lt;!&ndash;<tbody infinite-scroll="getMoreData()">&ndash;&gt;-->
            <!--&lt;!&ndash;<tr endless-scroll="user in user-details">&ndash;&gt;-->
            <!--<tr dir-paginate="user in user-details | itemsPerPage: usersPerPage | filter: searchText" total-items="totalUsers" current-page="pagination.current">-->
              <!--<td><a ui-sref="details({id: user.id})">{{user.id}}</a></td>-->
              <!--<td>{{user.first_name}}</td>-->
              <!--<td>{{user.last_name}}</td>-->
              <!--<td>{{user.mobile_no}}</td>-->
              <!--<td>{{user.device_id}}</td>-->
              <!--<td>{{user.device_type}}</td>-->
              <!--<td>{{user.jid}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td ng-show="loading" class="text-center">-->
                <!--Loading...-->
              <!--</td>-->
            <!--</tr>-->
            </tbody>
          </table>
          <!--<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>-->
        </div>
      </div>
    </div>
  </div>
</div>
