<br>
<br>
<div  class="container text-center" >
  <div  class="row">
    <div class="col-md-3"></div>
    <div  style="background-color:#cccccc;" class="col-md-6 form-group">
      <div class="form-top" class="login-body">
        <br>
        <br>
        <div class="text-center">
          <img src="../assets/images/small-logo.png" alt=""/>
        </div>
        <div class="form-top-left text-center">
          <h3 style="color:#fff;">Admin Dashboard Login</h3>
          <p style="color: #fff;">Enter your admin username and password to log in:</p>
        </div>
      </div>
      <div class="form-bottom" class="login-body">
        <form role="form" method="post" class="login-form" name="loginForm" ng-submit="login()">
          <div class="form-group">
            <label class="sr-only" for="form-username">Username</label>
            <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username" ng-model="admin.username" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="form-password">Password</label>
            <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="admin.password" required>
          </div>
          <button type="submit" class="btn btn-warning form-control" ng-disabled="loginForm.$invalid">Sign in</button>
        </form>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
