<!-- Navigation -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" >
  <a class="navbar-brand" href="/#/user/1"><img src="../../../assets/images/small-logo.png" width="44px" alt=""></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        Admin Dashboard
      </li>

      <!-- /.navbar-header -->

      <li class="  navbar-toggler-right dropdown bg-faded">
        <a class="nav-link dropdown-toggle text-warning"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-user"></span> Admin
        </a>

        <div class="dropdown-menu bg-faded" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item bg-faded"  routerLink="/logout">Logout <span class="fa fa-sign-out"></span> </a>

        </div>

        <!-- /.dropdown-user -->
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container-fluid">
  <div class="row">


    <div class="col-3">
      <app-navbar></app-navbar>
    </div>

    <div class="col-9">
      <br>
      <br>
      <br>

      <router-outlet></router-outlet>
      <!--<app-main-component></app-main-component>-->

    </div>
  </div>
</div>

<!--<div>-->

  <!--<app-login></app-login>-->

<!--</div>-->
